/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
    margin-left: auto; /* Add margin-left: auto */
    margin-right: auto; /* Add margin-right: auto */
    width: 600px; /* Adjust width as needed */
  }

.card {
    align-self: center;
    width:500px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height:max-content;
    max-height:max-content;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-header h4 {
    margin: 0;
    padding: 10px 0;
}

.card-body {
    padding: 2rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1rem;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-block {
    display: block;
    width: 100%;
}